<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="me.elia.lpdeck.gui.appenders">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%c{1}/%level]: %msg%n" />
        </Console>
        <RandomAccessFile name="File" fileName="${sys:user.home}/lpdeck/logs/latest.log">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%c{1}/%level]: %msg%n" />
            <Append value="false" />
        </RandomAccessFile>
        <GuiAppender name="Gui" />
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="SysOut" />
            <AppenderRef ref="File" />
            <AppenderRef ref="Gui" />
        </Root>
    </Loggers>
</Configuration>
