<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%c{1}/%level]: %msg%n" />
        </Console>
        <RandomAccessFile name="File" fileName="logs/latest.log">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%c{1}/%level]: %msg%n" />
        </RandomAccessFile>
        <ConsoleAppender name="Gui">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%c{1}/%level]: %msg%n" />
        </ConsoleAppender>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="SysOut" />
            <AppenderRef ref="File" />
            <AppenderRef ref="Gui" />
        </Root>
    </Loggers>
</Configuration>
